.top-section-adminSch {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 300px;
}
.search-container-adminSch {
    display: flex;
    align-items: center;
    gap: 50px;
}
.search-sch-adminSch {
    color: black;
}
.searchbar-container-adminSch {
    display: flex;
    align-items: center;
}
.searchbar-adminSch {
    height: 30px;
    border-color: grey;
}
.searchbtn-adminSch {
    height: 27px;
    width: 25px;
    background-color: white;
    margin-left: -45px;
    margin-top: 8px;
}
.searchbtn-adminSch:hover {
    border: none;
}
.search-img-adminSch {
    height: 25px;
    margin-left: -14px;
    margin-top: -23px;
}
.add-sch-btn-adminSch:hover {
    background-color: white;
    color: black;
    border-color: black;
    border-width: 3px;
}

.adminSch-list {
    padding-bottom: 50px;
    padding-top: 20px;
}
.edit-sch-btn {
    color: black;
    margin-left: 1200px;
    margin-bottom: -40px;
}
.edit-sch-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}
.adminSch-main-container {
    display: flex;
    flex-direction: column;
}
.adminSch-container {
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.adminSch-description-container {
    display: flex;
    margin-left: 30px;
}
.adminSch-description-container {
    display: flex;
    margin-left: 30px;
}
.adminSch-image {
    height: 50px;
    margin-top: 20px;
}
.adminSch-desc {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: -10px;
    margin-left: 17px;
}
.adminSch-name, .adminSch-org, .adminSch-type, .adminSch-grant, .adminSch-deadline {
    font-family: "Nunito";
}
.adminSch-name {
    font-size: 26px;
    font-weight: 700;
}
.adminSch-org, .adminSch-type {
    font-size: 18px;
}
.adminSch-grant {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
}
.adminSch-deadline-container {
    margin-right: 30px;
}
.adminSch-deadline-text {
    font-size: 20px;
    font-weight: 600;
}
.adminSch-deadline {
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width: 850px) {
    .top-section-adminSch {
        gap: 100px;
    }
    .search-container-adminSch {
        margin-left: 100px;
    }
    .searchbar-adminSch {
        width: 200px;
    }
    .edit-sch-btn {
        margin-left: 450px;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px) {
    .top-section-adminSch {
        gap: 20px;
    }
    .search-container-adminSch {
        margin-left: 10px;
    }
    .searchbar-adminSch {
        width: 100px;
    }
    .edit-sch-btn {
        margin-left: 200px;
    }
    .adminSch-name {
        font-size: 16px;
    }
    .adminSch-grant {
        font-size: 15px;
    }
    .adminSch-org {
        display: none;
    }
    .adminSch-type {
        font-size: 15px;
    }
    .adminSch-deadline-container {
        display: none;
    }
}