.top-section-adminUni {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 300px;
}
.search-container-adminUni {
    display: flex;
    align-items: center;
    gap: 50px;
}
.search-uni-adminUni {
    color: black;
}
.student-searchbar-container-adminUni {
    display: flex;
    align-items: center;
}
.student-searchbar-adminUni {
    height: 30px;
    border-color: grey;
}
.student-searchbtn-adminUni {
    height: 30px;
    width: 25px;
    background-color: white;
    margin-left: -45px;
    margin-top: 4px;
}
.student-searchbtn-adminUni:hover {
    border: none;
}
.student-search-img-adminUni {
    height: 25px;
    margin-left: -14px;
    margin-top: -6px;
}
.add-uni-btn-adminUni:hover {
    background-color: white;
    color: black;
    border-color: black;
    border-width: 3px;
}

.adminUni-list {
    padding-bottom: 50px;
}
.edit-uni-btn {
    color: black;
    margin-left: 1200px;
    margin-bottom: -40px;
}
.edit-uni-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}
.adminUni-container {
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.adminUni-description-container {
    display: flex;
    margin-left: 30px;
}
.adminUni-image {
    height: 50px;
    margin-top: 20px;
}
.adminUni-desc {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: -10px;
    margin-left: 17px;
}
.adminUni-name, .adminUni-state, .adminUni-major, .adminUni-fees, .adminUni-length {
    color: black;
    font-family: "Nunito";
}
.adminUni-name {
    font-size: 26px;
    font-weight: 700;
}
.adminUni-state {
    margin-top: -10px;
}
.adminUni-major {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
}
.adminUni-fees-years {
    margin-right: 30px;
}
.adminUni-fees {
    font-size: 20px;
    font-weight: 600;
}
.adminUni-length {
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 850px) {
    .top-section-adminUni {
        gap: 100px;
    }
    .search-container-adminUni {
        margin-left: 100px;
    }
    .student-searchbar-adminUni {
        width: 200px;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px) {
    .top-section-adminUni {
        gap: 20px;
    }
    .search-container-adminUni {
        margin-left: 10px;
    }
    .student-searchbar-adminUni {
        width: 100px;
    }
    .adminUni-name {
        font-size: 20px;
    }
    .adminUni-state {
        display: none;
    }
    .adminUni-major {
        font-size: 14px;
    }
    .adminUni-fees{
        display: none;
    }
    .adminUni-length {
        display: none;
    }
}