.bfl-content {
    background-color: #152039;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    z-index: 100;
    gap: 10vw;
}

.bfl-website-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}

.bfl-logo-button {
    border: none;
    background-color: #152039;
    width: 55px;
    height: 60px;
    margin-left: 30px;
    margin-top: -15px;
}

.bfl-logo-button:hover {
    cursor: pointer;
}

.bfl-logo-container {
    display: flex;
}

.bfl-logo {
    width: 60px;
    height: 60px;
    margin-left: -20px;
    margin-top: -2px;
}

.bfl-website-title-button {
    position: relative;
    border: none;
    color: #FFE34F;
    background-color: transparent;
    font-family: "Paytone One", serif;
    font-size: 28px;
    margin-left: 12px;
    padding-top: 10px;
}

.bfl-website-title-button:hover {
    cursor: pointer;
}

.bfl-header-button-container {
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-right: 15px;
    position: relative;
}

.bfl-header-button {
    background-color: #152039;
    color: white;
    border: none;
    font-family: "Nunito", serif;
    font-weight: 600;
    font-size: 1.3vw;
}

.bfl-header-button-lr {
    height: 3vw;
    background-color: #FFE34F;
    color:#152039;
    border: none;
    font-family: "Nunito", serif;
    font-weight: 600;
    font-size: 1.5vw;
    padding-top: 0.5vw;
}

.bfl-header-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.bfl-header-button-uni {
    position: relative;
}

.bfl-drop-down-uni {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: -15px;
    opacity: 0;
}

.bfl-drop-down-portfolio {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: -15px;
    opacity: 0;
}

.bfl-drop-down-button {
    font-family: "Nunito", serif;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    width: 15vw;
    height: 40px;
    transition: background-color, color, 0.25s;
}

.bfl-drop-down-button:hover {
    text-decoration: underline;
    color: black;
    background-color: white;
    font-weight: 700;
    cursor: pointer;
}

.bfl-header-button-uni:hover .bfl-drop-down-uni {
    opacity: 1;
}

.bfl-header-button-portfolio:hover .bfl-drop-down-portfolio {
    opacity: 1;
}

.bfl-sidenav {
    height: 55vh;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 95px;
    right: 5px;
    background-color: #152039;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.5s;
    border-radius: 30px;
}

.bfl-sidenav a {
    padding: 40px 30px 0 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(185, 186, 180);
    display: block;
    transition: 0.3s;
}

.bfl-sidenav a:hover {
    color: #FFE34F;
}

.bfl-sidenav .bfl-closebtn {
    position: absolute;
    top: -44.5px;
    left: -70px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 1040px) {
    .bfl-content{
        display: flex;
        gap: 0;
    }

    .bfl-header-button-container {
        display: none;
    }

    .bfl-website-title{
        flex:6;
        margin-right: 10vw;
    }

    .bfl-click-button {
        border: none;
        color: white;
        background-color: #152039;
        font-family: "Paytone One", serif;
        font-size: 30px;
        margin-right: 10px;
        margin-top: 5px;
    }
}

@media screen and (min-width: 1041px) {
    .bfl-sidenav {
        display: none;
    }

    .bfl-click {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #838480;
}

::-webkit-scrollbar-thumb:hover {
    background: #2a2b29;
}
