body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.doc-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 10vh;
    left: 0;
    z-index: 2;
    transition: margin-left 0.5s;
}

.document-upload {
    background-color: white;
    position: relative;
    top: 15px;
    margin-left: 20vw;
}

.doc-login-popup {
    margin-top: 300px;
}

.doc-timeline{
    display: flex;
    padding-top: 1vw;
    flex-direction: column;
    position: relative;
    background-color: white;
    margin-left: 2vw;
    gap: 3vw;
}

.doc-img-input{
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#doc-form-img{
    flex: 2;
}

#doc-form-submit-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.doc-browse-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.1em 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f1f1f1;
    color: #152039;
    cursor: pointer;
    transition: border-color 0.25s;
}
