body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.doc-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 10vh;
    left: 0;
    z-index: 2;
    transition: margin-left 0.5s;
}

.document-upload {
    background-color: white;
    position: relative;
    top: 15px;
    margin-left: 20vw;
}

.doc-add {
    width: 13vw;
    height: 13vw;
    margin-left: -8px;
    margin-top: -3px;
}

.doc-add-button-container {
    margin-top: 50px;
    margin-left: 3.5vw;
    margin-right: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 11vh;
}

.doc-add-button-container button {
    width: 13vw;
    height: 13vw;
}

.doc-add-button-container p {
    color: #1a1a1a;
}

.document-upload {
    height: 100%;
}

@media (max-width: 600px) {
    .doc-add {
        width: 13vw;
        height: 13vw;
        margin-left: -8px;
        margin-top: -3px;
    }

    .doc-add-button-container button {
        width: 13vw;
        height: 13vw;
        max-width: 200px; 
        box-sizing: border-box; 
    }
}

.doc-login-popup {
    margin-top: 300px;
}
