.tarara{
    background-color:#152039;
    height: 200px;
    width: 100vw;
    display: flex;
    margin-top:95px;

}
#exam{
    font-size: xx-large;
    font-weight: bolder;
}
.left_div{
    margin-left: 40px;
    display: flex;
    height:200px;
    width: 100px;
    flex-grow: 1;
    background-color:#152039;
    align-content: space-around;
}
#exam_text{
    color: #FFE34F;
    font-weight:900;
    font-size:75px;
    line-height: 200px;
}
.left_content{
    /* width: 100px; */
    height: 200px;
}
.right_div{
    display: flex;
    height:200px;
    width: 100px;
    background-color: #152039;
    flex-grow:2;
    align-content:space-evenly;

}
.exam-picture{
    height: 170px;
    width: 215px;
    margin-left: 50px;
}
.exam_types{
    line-height:200px;
    width:300px;
    background-color:#152039;
    text-align: center;
}
.exam_types button{
    font-weight:900;
    font-size:40px;
    color: #FFE34F;
    border: none;
    background-color: #152039;

}
.exam_types button:hover{
    color: black;
    background-color: #FFE34F;
}
.exam_types:hover{
    background-color: #FFE34F;
}