table,th,td{
    border:2px solid black;
}
table{
    border-collapse: collapse;
    width: 60%;
    margin-left: 15%;
}
th{
    font-size: 23px;
    width: 25%;
    height: 80px;
    background-color: black;
    color: #FFFFFF;
}
td{
    font-weight:800;
    font-size: large;
    height:50px;
}
h1{
    text-align:start;
    margin:2%;
    margin-left: 7%;
    color: #000;
}