.tarara{
    display: none;
    background-color:#152039;
    height: 200px;
    width: 100vw;
    display: flex;
    margin-top:90px;
    justify-content: space-between;
    position: fixed;
}
.left_div{
    display: flex;
    height:200px;
    width:45%;
    background-color: #152039;
    align-content: space-between;
}
#exam_text{
    color: #FFE34F;
    font-weight:900;
    font-size:60px;
    line-height: 200px;
}
.left_content1{
    width:50%;
    height: 200px;
    background-color:#152039;
}

.right_div{
    display: flex;
    height:200px;
    width: 75%;
    justify-content: space-around;
    align-items: center;
}
.exam_image{
    height: 170px;
    width: 170px;
    margin-left:30px;
    margin-top: 20px;
}
.exam_types{
     width:200px;
    height: 100px;
    background-color:#152039;
    text-align:start;
    color: #FFE34F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:900;
    font-size:50px;
}
.exam_types:hover{
    color: black;
    background-color: #FFE34F;
}
.dates h1{
    /* width: 300px; */
    margin-top: 320px;
    text-align:start;
    /* margin-top:300px; */
    /* margin: 2%; */
    margin-left: 8%;
    /* color: #000; */
}

@media screen and (max-width:1360px){ 
    .right_div{
        width: 75%;
        display: grid;
        grid-template-columns:100px 100px;
        grid-template-rows:100px 100px ;
        row-gap:2px;
        column-gap:2px;
    }
    .exam_types{
        width:150px;
       height: 90px;
       font-size:40px;
   }

}
@media screen and (max-width:835px){
    .exam_image{
        display: none;
    }
}
