.tarara{
    /* display: none; */
    background-color:#152039;
    height: 200px;
    width: 100vw;
    display: flex;
    margin-top:90px;
    justify-content: space-between;
    position: fixed;
}
.left_div{
    display: flex;
    height:200px;
    width:45%;
    background-color: #152039;
    align-content: space-between;
}
#exam_text{
    color: #FFE34F;
    font-weight:900;
    font-size:60px;
    line-height: 200px;
}
.left_content1{
    width:50%;
    height: 200px;
    background-color:#152039;
}

.right_div{
    display: flex;
    height:200px;
    width: 75%;
    justify-content: space-around;
    align-items: center;
}
.exam_image{
    height: 170px;
    width: 170px;
    margin-left:30px;
    margin-top: 20px;
}
.exam_types{
     width:200px;
    height: 100px;
    background-color:#152039;
    text-align:start;
    color: #FFE34F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:900;
    font-size:50px;
}
.exam_types:hover{
    color: black;
    background-color: #FFE34F;
}
.dates h1{
    margin-top: 320px;
    text-align:start;
    margin-left: 8%;
}

@media screen and (max-width:1360px){ 
    .right_div{
        width: 75%;
        display: grid;
        grid-template-columns:100px 100px;
        grid-template-rows:100px 100px ;
        row-gap:2px;
        column-gap:2px;
    }
    .exam_types{
        width:150px;
       height: 90px;
       font-size:35px;
   }

}
@media screen and (max-width:835px){
    .exam_image{
        display: none;
    }
}
@media screen and (max-width:500px) {
    .right_div{
        grid-template-columns:50px 50px;
        grid-template-rows:50px 50px ;
        row-gap:30px;
        column-gap:0px;
    }
    .left_content1{
        position: fixed;
        width:25%;
    }
    .dates h1{
        font-size:35px;
    }
    .exam_types{
        width:100px;
       height: 60px;
       font-size:25px;
       margin-top:50px;
   }
   #exam_text{
    color: #FFE34F;
    font-size:40px;
}
.left_div{
    width:25%;
}
}
table,th,td{
    border:2px solid black;
}
table{
    border-collapse: collapse;
    width: 60%;
    margin-left: 15%;
}
.table-container{
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: scroll;
}
th{
    font-size: 23px;
    width: 25%;
    height: 80px;
    background-color: black;
    color: #FFFFFF;
    position: sticky;
    top: 0px;
}
td{
    font-weight:800;
    font-size: large;
    height:50px;
}
table,th,td{
    border:2px solid black;
}
table{
    /* border-collapse: collapse; */
    width: 60%;
    margin-left: 15%;
}
.table-container{
    max-height: 300px;
    max-width: 100%;
    overflow-y: scroll;
    margin-top: 50px;
}
th{
    font-size: 23px;
    width: 25%;
    height: 80px;
    background-color: black;
    color: #FFFFFF;
    position: sticky;
    top: 0px;
}
td{
    font-weight:800;
    font-size: large;
    height:50px;
}
