.forgotP-page {
    background-color: #152039;
    display: flex;
    height: 100vh;
}
.left-sec-forgotP {
    margin-left: 130px;
}
.website-title-forgotP {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 70px;
}
.margadarshan-forgotP, .gyansarathi-forgotP {
    font-family: "Paytone One";
    color: #FFE34F;
}
.margadarshan-forgotP {
    font-size: 60px;
}
.gyansarathi-forgotP {
    font-size: 26px;
}

.right-sec-forgotP {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 600px;
    width: 500px;
    border-radius: 15px;
    margin-top: 110px;
    margin-left: 300px;

    transition: margin-left 0.3s ease;
}
.page-heading-forgotP {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 60px;
    margin-top: 50px;
}
.forgotP-title, .forgotP-subtitle {
    color: black;
    font-family: "Nunito";
}
.forgotP-title {
    font-weight: bold;
    font-size: 30px;
}
.forgotP-subtitle {
    font-size: 18px;
    margin-top: -10px;
}

.otp-link-container-forgotP, .otp-input-container-forgotP, .reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    margin-top: 20px;
}

.reset-input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.get-otp-button:hover, .verify-otp-button:hover, .reset-password-btn:hover {
    background-color: white;
    border: solid black 3px;
    color: black;
}

.error-message-forgotP, .errorOtp-message-forgotP {
    color: red;
    font-size: 12px;
    width: 100%;
    margin-bottom: 0px;
}
.error-message-forgotP {
    margin-top: 5px;
    margin-left: -85px;
}
.errorOtp-message-forgotP {
    margin-top: -25px;
    margin-left: -170px;
}

.loading-message-forgotP {
    font-size: 12px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 100px;
    color: grey;
    font-family: "Nunito";
}

.password-strength-forgotP {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: -40px;
}

@media screen and (max-width:1400px) {
    .left-sec-forgotP {
        margin-top: -50px;
    }
    .right-sec-forgotP {
        margin-top: 200px;
        margin-left: -500px;
        height: 550px;
    }
}

@media screen and (min-width:400px) and (max-width:750px) {
    .left-sec-forgotP {
        margin-left: 30px;
    }
    .margadarshan-forgotP {
        font-size: 50px;
    }
    .right-sec-forgotP {
        margin-left: -430px;
        width: 450px;
    }
}