.header-content {
    background-color: #152039;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    z-index: 100;
    gap: 7vw;
}

.header-website-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}

.header-logo-button {
    border: none;
    background-color: #152039;
    width: 55px;
    height: 60px;
    margin-left: 30px;
    margin-top: -15px;
}

.header-logo-button:hover {
    cursor: pointer;
}

.header-logo-container {
    display: flex;
}

.header-logo {
    width: 60px;
    height: 60px;
    margin-left: -20px;
    margin-top: -2px;
}

.header-website-title-button {
    position: relative;
    border: none;
    color: #FFE34F;
    background-color: transparent;
    font-family: "Paytone One", serif;
    font-size: 28px;
    margin-left: 12px;
    padding-top: 10px;
}

.header-website-title-button:hover {
    cursor: pointer;
}

.header-header-button-container {
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-right: 15px;
    position: relative;
}

.header-header-button {
    background-color: #152039;
    color: white;
    border: none;
    font-family: "Nunito", serif;
    font-weight: 600;
    font-size: 1.2vw;
}

.header-header-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header-header-button-uni {
    position: relative;
}

.header-drop-down-uni {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: -1px;
    opacity: 0;
}

.header-drop-down-button {
    font-family: "Nunito", serif;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    margin-top: 0;
    width: 160px;
    height: 40px;
    transition: background-color, color, 0.25s;
}

.header-drop-down-button:hover {
    text-decoration: underline;
    color: black;
    background-color: white;
    font-weight: 700;
    cursor: pointer;
}

.header-header-button-uni:hover .header-drop-down-uni {
    opacity: 1;
}

.header-header-button-portfolio {
    position: relative;
}

.header-header-button-portfolio:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header-drop-down-portfolio {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: -16px;
    opacity: 0;
}

.header-header-button-portfolio:hover .header-drop-down-portfolio {
    opacity: 1;
    visibility: visible;
}

.header-profile-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    margin-top: 3px;
    position: relative;
}

.header-profile-button {
    height: 55px;
    width: 55px;
    border-radius: 35px;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    background-color: white;
    margin-top: -4px;
    text-align: center;
}

.header-profile-button:hover {
    cursor: pointer;
}

.header-profile {
    height: 35px;
    width: 35px;
    margin-top: -3px;
    margin-right: 5px;
    margin-left: -13px;
    vertical-align: middle;
}

.header-logout-button {
    color: white;
    font-family: 'Nunito', serif;
    font-weight: 800;
    background-color: black;
    border-radius: 10px;
    height: 30px;
    width: 70px;
    border-style: solid;
    opacity: 0;
    padding-left: 8px;
    padding-top: 2px;
    margin-right: 15px;
    position: relative;
    transition: background-color, color 0.35s;
}

.header-profile-container:hover .header-logout-button {
    opacity: 1;
}

.header-logout-button:hover {
    cursor: pointer;
    background-color: white;
    border-color: #1a1a1a;
    border-width: 3px;
    color: black;
    padding-left: 7px;
}

.header-sidenav {
    height: 100vh;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 90px;
    right: 0;
    background-color: #152039;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
}

.header-sidenav a {
    padding: 40px 30px 0 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(185, 186, 180);
    display: block;
    transition: 0.3s;
}

.header-sidenav a:hover {
    color: #FFE34F;
}

.header-sidenav .header-closebtn {
    position: absolute;
    top: -44.5px;
    left: -70px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 1040px) {
    .header-content{
        gap: 0;
    }

    .header-header-button-container {
        display: none;
    }

    .header-website-title{
        margin-right: 10vw;
    }

    .header-profile-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: end ;
        align-items: center;
        margin-top: 15px;
        margin-right: 30px;
        position: relative;
    }

    .header-profile-button {
        height: 45px;
        width: 45px;
        margin-right: -20px;
    }

    .header-profile {
        height: 30px;
        width: 30px;
        margin-left: -15px;
        margin-top: -10px;
    }

    .header-logout-button {
        position: absolute;
        color: white;
        font-family: 'Nunito', serif;
        font-weight: 800;
        background-color: black;
        border-radius: 10px;
        height: 30px;
        width: 70px;
        border-style: solid;
        opacity: 0;

        font-size: 12px;
        margin-top: 0;
        margin-right: 40px;
        padding-left: 6px;
        padding-right: 7px;

        transition: background-color, color 0.35s;
    }

    .header-profile-container:hover .header-logout-button {
        opacity: 1;
    }

    .header-logout-button:hover {
        cursor: pointer;
        background-color: white;
        border-width: 3px;
        color: black;
    }

    .header-click-button {
        border: none;
        color: white;
        background-color: #152039;
        font-family: "Paytone One", serif;
        font-size: 30px;
        margin-right: 10px;
        margin-top: 5px;
    }
}

@media screen and (min-width: 1041px) {
    .header-sidenav {
        display: none;
    }

    .header-click {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header-content{
        gap: 0;
    }

    .header-header-button-container {
        display: none;
    }

    .header-website-title{
        margin-right: 10vw;
    }

    .header-profile-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: end ;
        align-items: center;
        margin-top: 15px;
        margin-right: 30px;
        position: relative;
    }

    .header-profile-button {
        height: 45px;
        width: 45px;
        margin-right: -20px;
    }

    .header-profile {
        height: 30px;
        width: 30px;
        margin-left: -15px;
        margin-top: -10px;
    }

    .header-logout-button {
        position: absolute;
        color: white;
        font-family: 'Nunito', serif;
        font-weight: 800;
        background-color: black;
        border-radius: 10px;
        height: 30px;
        width: 70px;
        border-style: solid;
        opacity: 0;

        font-size: 12px;
        margin-top: 0;
        margin-right: 40px;
        padding-left: 6px;
        padding-right: 7px;

        transition: background-color, color 0.35s;
    }

    .header-profile-container:hover .header-logout-button {
        opacity: 1;
    }

    .header-logout-button:hover {
        cursor: pointer;
        background-color: white;
        border-width: 3px;
        color: black;
    }

    .header-click-button {
        border: none;
        color: white;
        background-color: #152039;
        font-family: "Paytone One", serif;
        font-size: 30px;
        margin-right: 10px;
        margin-top: 5px;
        padding-left: 15px;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #838480;
}

::-webkit-scrollbar-thumb:hover {
    background: #2a2b29;
}
