*{
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    background:beige;
}
a{
    text-decoration: none;
    color: black;
}
.nav-container{
    display: flex;
    height: 11vh;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}
.logo-heading{
    display: flex;
    height: 100%;
    align-items: center;
}
#logo-image{
    padding-top: 0.2vh;
    width: 70px;
    height: 80px;
    padding-left: 1vw;
}
.heading-logo{
    padding-left: 1vw;
    padding-top: 4vh;
}
.nav-items{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    padding-right: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 4vh;
    font-size: larger;
}
.items{
    display: inline-block;
    position: relative;
    color: black;
}
.items::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;    
}
.items:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.section-container{
    display: flex;
    background-color:#152039;
    height: 50vh;
    justify-content: space-between;
}
#statue{
    flex-grow: 0 1 auto;
}
.guide-heading{
    font-size: 5vw;
    font-weight: 400;
    padding-bottom: 2vh;
}
.section-heading{
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-right: 20vw;
    color: #FFE34F;    
    flex: 0 1 auto;
    justify-content: flex-start;
    padding-top: 3vh;
}
.sub-heading{
    font-size: 1.6vw;
    line-height: 4vh;
    font-weight: 400;
}
.services{
    display: flex;
    padding-top: 3vh;
    flex-direction: column;
    align-items: center;
}
.heading-services{
    font-size: 5vw;
}
.section-container-one{
    display: flex;
    border: 100%;
    height: 30vh;
    background-color: #152039;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 20px;
}
.section-container-one-image{
    width: 15%;
    height: 70%;
    padding-left: 2%;
    padding-top: 2%;
}
.section-container-one-h3{
    color: #FFE34F;
    font-size: 2vw;
    padding-left: 3%;
    padding-top: 5%;
    font-weight: 400;
}
.section-container-two{
    display: flex;
    border: 100%;
    height: 30vh;
    background-color: #152039;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 20px;
}
.section-container-two-image{
    width: 15%;
    height: 70%;
    padding-left: 2%;
    padding-top: 2%;
}
.section-container-two-h3{
    color: #FFE34F;
    font-size: 2vw;
    padding-left: 3%;
    padding-top: 5%;
    font-weight: 400;
}
.section-container-three{
    display: flex;
    border: 100%;
    height: 30vh;
    background-color: #152039;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 20px;
}
.section-container-three-image{
    width: 15%;
    height: 70%;
    padding-left: 2%;
    padding-top: 2%;
}
.section-container-three-h3{
    color: #FFE34F;
    font-size: 2vw;
    padding-left: 3%;
    padding-top: 5%;
    font-weight: 400;
}
.section-news-and-blogs{
    display: flex;
    height: 60vh;
    background-color: #152039;
    flex-direction: column;
    justify-content: space-around;
}
.section-news-images{
    display: flex;
    justify-content: space-evenly;
}
.section-news-Heading{
    display: flex;
    justify-content: flex-start;
    font-size: 3vw;
    color: #FFE34F;
    padding-left: 10vw;
    padding-top: 3vh;
}


#news-blog-image-one{
    width: 20vw;
    height: 40vh;
}
#news-blog-image-two{
    width: 20vw;
    height: 39.5vh;
}
#news-blog-image-three{
    width: 20vw;
    height: 39vh;
    padding-bottom: 0.8vh;
}




















