.main-section {
    display: flex;
    background-color: #152039;
}
.left-section {
    background-color: #152039;
    display: flex;
    flex-direction: column;
    width: 130vw;
    height: 100vh;
}
.website-title {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: fixed;
    left: 130px;
    top: 70px;
}
.margadarshan, .gyansarathi {
    font-family: "Paytone One";
    color: #FFE34F;
}
.margadarshan {
    font-size: 60px;
}
.gyansarathi {
    font-size: 26px;
}
.website-img-container {
    display: flex;
    position: fixed;
    top: 350px;
    left: 100px;   
}
.website-img {
    width: 500px;
}

.right-section {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    background-color: white;
    width: 100%;
}
.page-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.main-title, .subtitle {
    font-family: "Nunito";
    color: black;
    margin-left: 60px;
    margin-top: 70px;
}
.main-title {
    font-weight: bold;
    font-size: 36px;
}
.subtitle {
    font-size: 20px;
    margin-top: -20px;
}
.user-input {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 60px;
    margin-top: 30px;
}
input {
    background-color: white;
    border-color: black;
    border-radius: 5px;
    height: 40px;
    width: 220px;
    padding-left: 10px;
}
.text-field-name, .text-field-address, .text-field-number, .text-field-email, .text-field-password, .text-field-rePassword {
    color: black;
}
.text-field-address, .text-field-number, .text-field-email, .text-field-password {
    margin-top: 20px;
    margin-top: 25px;
}
.text-field-rePassword {
    margin-right: 20px;
}
.password-text-fields {
    display: flex;
    align-items: baseline;
    gap: 20px;
}
.register-button {
    width: 300px;
    height: 50px;
    border-radius: 30px;
    margin-top: 20px;
}
.register-button:hover {
    background-color: white;
    color: black;
    border-color: black;
    border-width: 3px;
}
.login-container {
    display: flex;
    margin-left: 240px;
    margin-top: 20px;
}
.already-account, .login {
    color: black;
}
.login {
    margin-left: 10px;
}
.login:hover {
    text-decoration: underline;
    cursor: pointer;
}

.password-strength {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 35px;
}
.password-strength-item {
    color: red;
    margin-top: -5px;
}
.password-strength-item.green {
    color: green; 
}

@media screen and (max-width : 1400px) {
    .website-title {
        margin-top: -90px;
    }
    .website-img {
        display: none;
    }
    .right-section {
        height: 70vh;
        margin-top: 200px;
        margin-right: 150px;
        margin-left: -20px;
        border-radius: 20px;
    }
    .page-title {
        margin-top: -40px;
        margin-left: -40px;
    }
    .main-title {
        font-size: 24px;
    }
    .subtitle {
        font-size: 16px;
    }
    .user-input {
        margin-top: 0px;
    }
    .text-field-name, .text-field-address, .text-field-number, .text-field-email, .text-field-password, .text-field-rePassword {
        width: 140px;
    }
    .text-field-name, .text-field-address, .text-field-email, .text-field-number {
        margin-left: -40px;
        margin-top: 5px;
    }
    .password-text-fields {
        margin-right: 40px;
        margin-top: -20px;
    }
    .text-field-password {
        margin-left: -40px;
    }
    .text-field-name::placeholder, .text-field-address::placeholder, .text-field-number::placeholder, .text-field-email::placeholder, .text-field-password::placeholder, .text-field-rePassword::placeholder {
        font-size: 11px;   
    }
    .login-container {
        margin-left: 100px;
    }
}

@media screen and (min-width : 400px) and (max-width : 750px) {
    .website-title {
        margin-left: -70px;
        margin-top: -70px;
    }
    .margadarshan {
        font-size: 50px;
    }
    .right-section {
        margin-left: 25px;
    }
}
