.open-sidebar-btn-roadmap {
    background-color: #152039;
    display: block;
    margin-top: 100px;
    margin-left: -5px;
    color: #FFE34F;
    font-size: 24px;
}
.open-sidebar-btn-roadmap:hover {
    border: solid white 2px;
}
.roadmap-img {
    margin-top: 100px;
}

.sidebar-roadmap {
    height: 100%;    
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10vh;; 
    left: 0px;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px; 
    transition: 0.5s;
}
.close-sidebar-btn-roadmap {
    color: #152039;
    font-size: 24px;
    position: absolute;
    right: 25px;
}
.sidebar-title-roadmap {
    margin-top: 40px;
    font-family: "Paytone One"
}