.login-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-modal {
    background-image: url('src/assets/Homepage/Roadmap.png');
    background-size: cover;
    background-color: #fff;
    padding: 50px 400px 350px 400px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.login-modal h2 {
    color:  burlywood;
    font-size: 40px;
    margin-top: 0;
}

.login-modal button{
    border-color: #152039;
}

.open-sidebar-btn-roadmap {
    background-color: #152039;
    display: block;
    margin-top: 100px;
    margin-left: -5px;
    color: #FFE34F;
    font-size: 24px;
}
.open-sidebar-btn-roadmap:hover {
    border: solid white 2px;
}

.roadmap-img {
    margin-top: -40px;
    height: 380px;
    width: 1100px;
    margin-left: 150px;
}
.roadmap-img-end {
    height: 270px;
}

.top-roadmap-buttons, .bottom-roadmap-buttons {
    display: flex;
    gap: 340px;
}
.top-roadmap-buttons {
    margin-left: 170px;
}
.bottom-roadmap-buttons {
    margin-left: 380px;
    margin-top: -50px;
}
.roadmap-button2, .roadmap-button3, .roadmap-button4, .roadmap-button5, .roadmap-button6 {
    height: 100px;
    z-index: 10;
}
.roadmap-button2, .roadmap-button3 {
    margin-left: -200px;
    margin-top: 70px;
}
.roadmap-button5, .roadmap-button6 {
    margin-left: -50px;
}
.roadmap-button5 {
    margin-left: -60px;
}
.roadmap-button-start {
    height: 200px;
    margin-left: -50px;
    margin-top: -20px;
}
.roadmap-button2:hover, .roadmap-button3:hover, .roadmap-button4:hover, .roadmap-button5:hover, .roadmap-button6:hover {
    cursor: pointer;
}

.pop-up1, .pop-up2, .pop-up3, .pop-up-down1, .pop-up-down2, .pop-up-down3 {
    display: flex;
    background-color: #152039;
    border: white solid 2px;
    border-radius: 5px;
    padding-top: 5px;
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
}
.pop-up1 {
    top: 120px;
}
.pop-up1 {
    left: 240px;
}
.pop-up2 {
    left: 640px;
}
.pop-up3 {
    left: 980px;
}
.pop-up-down1, .pop-up-down2, .pop-up-down3 {
    bottom: 30px;
} 
.pop-up-down1 {
    left: 180px;
}
.pop-up-down2 {
    left: 530px;
}
.pop-up-down3 {
    left: 900px;
}
.pop-up-text, .start-text {
    color: white;
}
.gpa-popup-container {
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-roadmap {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 70;
    top: 10vh;
    ;
    left: 0px;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
}
.close-sidebar-btn-roadmap {
    color: #152039;
    font-size: 24px;
    position: absolute;
    right: 25px;
}
.sidebar-title-roadmap {
    margin-top: 40px;
    font-family: "Paytone One"
}

.study-level-radio-container {
    display: flex;
    gap: 30px;
    margin-left: 40px;
}

.univesity-gpa-container-roadmap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
.uni-dropdown-roadmap, .major-dropdown-roadmap {
    width: 170px;
    height: 30px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: solid black 2px;
}
.gpa-input-roadmap, .sats-input-roadmap {
    height: 35px;
    width: 200px;
}

.english-test-container-roadmap {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    border: solid black 2px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.ielts-toefl-container-roadmap {
    display: flex;
    gap: 20px;
}
.english-test-dropdown-roadmap {
    width: 100px;
    height: 30px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: solid black 2px;
}
.english-test-score-container-roadmap {
    display: flex;
    gap: 20px;
}
.english-test-score-input-roadmap {
    width: 100px;
    height: 30px;
}

.sup-essay-container-roadmap {
    display: flex;
    align-items: center;
    width: 300px;
    gap: 20px;
    margin-left: 15px;
    margin-top: 30px;
}
.radio-container1-roadmap,
.radio-container2-roadmap {
    display: flex;
    position: relative;
    padding-left: 25px;
    align-items: baseline;
}
.radio-container1-roadmap input,
.radio-container2-roadmap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark-roadmap {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: solid black;
    border-radius: 50%;
}
.radio-container1-roadmap:hover input~.checkmark-roadmap,
.radio-container2-roadmap:hover input~.checkmark-roadmap {
    background-color: rgb(229, 226, 226);
}
.checkmark-roadmap:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-container1-roadmap input:checked~.checkmark-roadmap:after,
.radio-container2-roadmap input:checked~.checkmark-roadmap:after {
    display: block;
}
.radio-container1-roadmap .checkmark-roadmap:after,
.radio-container2-roadmap .checkmark-roadmap:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
}

.submit-btn-roadmap {
    margin-left: 150px;
    width: 150px;
    height: 40px;
    margin-top: 30px;
    line-height: 0.8;
}
.submit-btn-roadmap:hover {
    background-color: white;
    color: black;
    border: black solid 3px;
}
