body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.centre {
    width: 100%;
    margin-top: 80px;
}

.page-heading {
    background-color: #152039;
    margin-top: 20px;
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (min-width: 400px) and (max-width: 700px) {
    .page-heading {
        height: 160px;
    }
}
.scholarship-title {
    margin-left: 100px;
    width: 600px;
    display: flex;
}
.title-main-text {
    color: #FFE34F;
    font-family: "Paytone One";
    font-size: 50px;
    margin-top: 30px;
}
@media screen and (max-width: 850px) {
    .title-main-text {
        font-size: 40px;
        margin-left: -70px;
    }
}
@media screen and (min-width: 400px) and (max-width: 700px) {
    .title-subtext {
        margin-left: -20px;
    }
}
.title-subtext {
    color: #FFE34F;
    font-family: "Paytone One";
    font-size: 22px;
    margin-top: 110px;
    margin-left: -290px;
    min-width: 150px;
}
@media screen and (max-width: 850px) {
    .title-subtext {
        font-size: 18px;
        margin-left: -235px;
    }
}
@media screen and (min-width: 400px) and (max-width: 700px) {
    .title-subtext {
        display: none;
    }
}
.title-image {
    display: flex;
    margin-top: 30px;
}
.scholarship-image {
    max-width: 100%;
    height: 200px;
    margin-right: 70px;
}
@media screen and (max-width: 850px) {
    .scholarship-image {
        height: 160px; 
    }
}
@media screen and (min-width: 400px) and (max-width: 700px) {
    .scholarship-image {
        height: 110px; 
        width: 1000px;
    }
}

.user-input-sch {
    display: flex;
    flex-direction: column;
}
.text-field-container {
    display: flex;
    margin-top: 50px;
}
@media screen and (max-width: 850px) {
    .text-field-container {
        margin-left: 30px;
    }
}
@media screen and (min-width: 400px) and (max-width: 750px) {
    .text-field-container {
        margin-left: 30px;
    }
}
.question {
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 600;
}
@media screen and (max-width: 850px) {
    .question {
        font-size: 18px;
    }
}
@media screen and (min-width: 400px) and (max-width: 750px) {
    .question {
        font-size: 15px;
    }
}
.text-field {
    background-color: white;
    height: 28px;
    width: 280px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}
@media screen and (max-width: 850px) {
    .text-field {
        width: 200px;
    }
}
@media screen and (min-width: 400px) and (max-width: 750px) {
    .text-field {
        width: 130px;
    }
}
.location-choice {
    margin-left: 100px;
}
@media screen and (max-width: 850px) {
    .location-choice {
       margin-left: 35px; 
    }
}
.search-button-container-sch {
    margin-right: 110px;
    margin-top: 20px;
}
.search {
    height: 45px;
    width: 160px;
    background-color: black;
    color: white;
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 700;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;

    transition: background-color, color 0.25s;
}
.search:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
@media screen and (max-width: 850px) {
    .search {
        width: 110px;
    }
}

.scholarship-list {
    padding-bottom: 50px;
}
.sch-container {
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.sch-description {
    display: flex;
    align-items: center;
}
.sch-image {
    max-width: 100%;
    height: 100px;
}
@media screen and (max-width: 850px) {
    .sch-image {
        height: 90px;
        width: 150px; 
    }
}
@media screen and (min-width: 400px) and (max-width: 700px) {
    .sch-image {
        height: 70px;
        width: 400px; 
        margin-left: -10px;
    }
}
.sch-desc-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 30px;
}
.sch-name, .sch-institute, .sch-type, .grant, .deadline, .date {
    color: black;
}
.sch-name {
    font-family: "Nunito";
    font-size: 26px;
    font-weight: 700;
}
@media screen and (max-width: 850px) {
    .sch-name {
        font-size: 16px;
    }
}
@media screen and (min-width: 400px) and (max-width: 750px) {
    .sch-name {
        font-size: 16px;
    }
}
.sch-institute, .sch-type {
    font-family: "Nunito";
    font-size: 17px;
    margin-top: -7px;
}
@media screen and (min-width: 400px) and (max-width: 750px) {
    .sch-institute {
        display: none;
    }
    .sch-type {
        font-size: 15px;
    }
}
.grant {
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 600;
}
@media screen and (min-width: 400px) and (max-width: 750px) {
    .grant {
        font-size: 15px;
    }
}
.deadline {
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 600;
}
.date {
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 600;
}
@media screen and (min-width: 400px) and (max-width: 750px) {
    .deadline, .date {
        display: none;
    }
}
.sch-choice {
    color: black;
}