body{
    margin: 0;
    padding: 0;
}

@media screen and (max-width:754px) {

    .title{
        width:300px;
    }
}
@media screen and (min-width:754px) and (max-width:1030px) {
    .title{
        width:300px;
        /* left:270px; */
    }
    input[type="Inputtitle"] {
        width:200px;
        height:35px
    }
    #document-name{
        color: yellow;
        font-family:'Paytone One';
        font-size:xx-large;
        font-size: 25px;
    }
}
.select input{
    width:350px;
    height:40px ;
    border-radius:20px;
    font-weight: 700;
    margin-top:200px;
    margin-left: 50px;

}
.sop_uploadbtn {
    /*margin-left:30px;*/
    width:350px;
    height:40px ;
    border-radius:20px;
    font-weight: 700;
    margin-top:60px;
    margin-left: 50px;
}
.title{
    position: absolute;
    top:30px;
    right:100px;
    width: 400px;
}
#document-name{
    color: yellow;
    font-family:'Paytone One';
    font-size:xx-large;
    font-size: 35px;
}
input[type="Inputtitle"] {
    width:350px;
    height:35px
}
#image-preview{
    position: absolute;
    top: 80px;
    left: 20px;
    height: 250px;
    width: 260px;
    border: dotted white 4px;
}
#image-preview img {
    height:100%;
    width:100%;
} 