
.first-div{
    position: relative;
    background-color:#152039;
    height: 500px;
    width: 600px;
    /* justify-content:center; */
    /* align-items: center; */
    /* align-content: center; */
    align-self: center;
}
.select{
    position: absolute;
    top: 400px;
    left: 90px;
}
.title{
    position: absolute;
    top: 100px;
    right:20px;
}
#document-name{
    color: yellow;
    font-family:'Paytone One';
    font-size:xx-large;
}
#input-doc{
    width: 259px;
    height:25px
}
#image-preview{
    position: absolute;
    top: 80px;
    left: 20px;
    height: 250px;
    width: 260px;
    border: 4px dashed rgb(117,112,112);
}
#image-preview img {
    max-width: 100%;
    max-height: 100%;
    /* width: auto;
    height: auto; */
    height: 250px;
}
body{
    /* width: 600px; */
    background-color:white;
}