body{
    margin: 0;
    padding: 0;
}
.sop_first-div{
    position: relative;
    background-color:#152039;
    height: 400px;
    width: 620px;
    align-self: center;
    margin:100px;
    margin-left: 660px;
}
@media screen and (max-width:754px) {
    .sop_first-div{
        background-color:aqua;
        margin:100px;
        margin-top:450px;
        margin-left:10px;
        width:650px;
    }
    .title{
        width:100px;
        left:270px;
    }
}
@media screen and (min-width:754px) and (max-width:1030px) {
    .sop_first-div{
        background-color:aqua;
        margin:100px;
        margin-top:450px;
        width:650px;
    }
    .title{
        width:100px;
        left:270px;
    }
    input[type="Inputtitle"] {
        width:200px;
        height:35px
    }
    #document-name{
        color: yellow;
        font-family:'Paytone One';
        font-size:xx-large;
        font-size: 25px;
    }
}
@media screen and (min-width:1030px) and (max-width:1400px) {
    .sop_first-div{
        background-color:blueviolet;
        margin:100px;
        margin-top: 450px;
        margin-left:200px;
    }
}
@media screen and (min-width:1400px) and (max-width: 1500px) {
    .sop_first-div {
        width: 730px;
        background-color:chartreuse;
    }
}

/* .select{
    display: flex;
    row-gap:25px;
} */
.select input{
    width:350px;
    height:40px ;
    border-radius:20px;
    font-weight: 700;
    margin-top:200px;
    margin-left: 50px;

}
.sop_uploadbtn {
    /*margin-left:30px;*/
    width:350px;
    height:40px ;
    border-radius:20px;
    font-weight: 700;
    margin-top:300px;
    margin-left: 50px;
}
.title{
    position: absolute;
    top:30px;
    right:100px;
    width: 400px;
}
#document-name{
    color: yellow;
    font-family:'Paytone One';
    font-size:xx-large;
    font-size: 35px;
}
input[type="Inputtitle"] {
    width:350px;
    height:35px
}
#image-preview{
    position: absolute;
    top: 80px;
    left: 20px;
    height: 250px;
    width: 260px;
    border: dotted white 4px;
}
#image-preview img {
    height:100%;
    width:100%;
} 