.t{
    position: absolute;
    top: 200px;
    width: 800px;
    height: 500px;
    color:black;
    align-content: center;
    align-items: center; 
    justify-content: center;
    line-height: 30px; 
    


}
.rasmi{
    display: flex;
    flex-direction:column;
    border: 3px solid #FFE34F;
    position: relative;
}
.sir{
    align-content:center;
    border: 3px solid blueviolet;

}
.sop_info{
    font-style:italic;
    font-size:50px;
}
.sop_intro{
    font-weight:700;
    font-size:30px;
}
@media screen and (max-width:755px) {
    .sop_intro{
        font-size:25px;
    }
}
#sopUploadButton{
    width: 200px;
    height: 50px;
    margin-left: 10px;
    margin-top: 60px;
    background-color: darkgrey;
    border:1px solid black;
}
#sopUploadButton:hover{
    cursor: pointer;
    background-color:white;
    border-width: 2.5px;
    color:blue;

 } 
/* @media screen  and (max-width:1000px){
    
} */

.sop-login-popup {
    margin-top: 300px;
}