*{
    /* width: 100%; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
display: flex;
border: 3px solid black;
height: 100vh;
margin: 4px;
flex-direction: row;
background-color:#152039;
}
.container1{
    background-color: #152039;
    width:50% ;
    display: flex;
    flex-direction: column;
  justify-content:space-evenly;
}
.container2{
    background-color:white;
    font-family:"Nunito";

    margin: 70px;
    width: 600px;
    border: 3px solid #152039;
    padding: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
}
header{
    font-weight: 700;
    font-size:40px;
    align-items: center;
}
#greet{
    font-size: 20px;
}
.entry input{
    width: 80%;
    height: 30px;
    margin: 10px;
    border-radius:4px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
::placeholder{
    /* color: #000000; */
    font-size: 15px;
}
img{
    border-radius: 4px;
  padding: 10px;
  width: 600px;
  padding-left: 60px;
  height: 400px;
}
.info{
    background-color:#152039;

    width:700px;
    height: 200px;
    font-family: "Paytone One";
    padding-top: 20px;
}
#MARGADARSHAN-text{
    color: #FFE34F;
    font-size: 80px;
    padding-left:29px;
    
}
#Team{
    color: #FFE34F;
    font-size: 30px;
    float: right;
}
label{
    margin-right: 135px;
    font-size: 20px;
}
.checkbox{
    margin: 7px
    
}
button{
    margin-top: 30px;
    height:50%;
    border:2px solid black;
    font-size: 20px;
    width: 100px;
    color: white;
    border-radius: 4px;
}
    .button1 {
        background-color: white; 
        color: black; 
        border: 2px solid #000;
        margin-right: 100px;
      }
      
.button1:hover {
        background-color: #000;
        color: white;
      }    

      .button2{
        background-color: white;
        color: black;
        border: 2px solid #000;
        margin-left: 100px;
      }
      
      .button2:hover {
        background-color: #000;
        color: white;
      }

.error {
        color: #E70000;
        margin-top: 5px;
        font-family: "Nunito";
    }
    
    input.error {
        border: 1px solid #E70000;
}
