*{
    /* width: 100%; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
display: flex;
height: 100vh;
flex-direction: row;
background-color:#152039;

}
.container1{
    background-color: #152039;
    width:50% ;
    height:100px; 
}
.container2{
    background-color:white;
    font-family:"Nunito";
    width:50%;
    border: 3px solid #152039;
}
header{
    font-weight: 700;
    font-size:40px;
}
#h{
    font-size: 20px;
}

.whole{
    padding: 90px;
}
.entry input{
    width: 80%;
    height: 35px;
    margin: 10px;
    border-radius:4px;
    border: none;
    outline: none;
    border-bottom:1px solid black;

}
::placeholder{
    color: #000000;
    font-size:15px;
}

.column{
    display:flex;
    width: 80%;
    margin: 10px;
    justify-content: space-between
}
.column input{
    height: 35px;
    border-radius:4px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;

}
button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    padding: 12px 100px;
    align-items: center;


}
.input-box{
    margin-left: 100px;
}
#qst{
    margin-left:150px;
}
#MARGADARSHAN-text{
    color: #FFE34F;
    font-size: 80px;
    padding-left:29px;
    
}
#Team{
    color: #FFE34F;
    font-size: 30px;
    float: right;
}
.info{
    background-color:#152039;

    width:700px;
    height: 200px;
    font-family: "Paytone One";
    padding-top: 20px;
}
img{
    border-radius: 4px;
    padding-top:80px;
    width: 600px;
    padding-left: 60px;
    height: 500px;
}