body {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 90px;
    left: 0;
    z-index: 2;
    transition: margin-left 0.5s;
}

.sidenavbar {
    height: 100%;    
    width: 0;
    position: fixed;
    z-index: 1;
    top: 90px; 
    left: 0px;
    background-color: #152039;
    overflow-x: hidden;
    padding-top: 20px; 
    transition: 0.5s;
}

.click-btn {
    border: none;
    background-color: #152039;
    color: white;
    position: fixed;
    top: 92px;
    left: 0;
    font-size: 20px;
    vertical-align: middle;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.sidenav-content p{
    color: #FFE34F;
    background-color: #152039;
    font-family: "Paytone One";
    font-size: 40px;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 2px;
}

.sidenav-content a {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px; /* Adjust padding as needed */
    font-size: 22px;
    transition: background-color 0.3s, color 0.3s;
}

.sidenav-content a:hover {
    background-color: #FFE34F;
    color: #152039;
}

.sidenavbar .close-btn {
    text-decoration: none;
    color: #FFE34F;
    background-color: #152039;
    font-family: "Paytone One";
    font-size: 200px;
    position: absolute;
    top: -8px;
    right: 10px;
    font-size: 38px;
    margin-left: 50px;
}

.document-upload h1 {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 2px;
}

.document-upload p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin-left: 12px;
    margin-right: 30px;
    margin-top: 2px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1041px) {

    
}
.add {
    width: 200px;
    height: 200px; 
    margin-left: -8px;
    margin-top: -3px;
}

.add-button-container {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px; 
}

.add-button-container button {
    width: 200px; 
    height: 200px; 
}

@media (max-width: 600px) {
    .add {
        width: 200px;
        height: 200px; 
        margin-left: -8px;
        margin-top: -3px;
    }

    .add-button-container button {
        width: 100%; 
        max-width: 200px; 
        box-sizing: border-box; 
    }
}